html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
body {
  background-color: var(--background-colour);
  color: var(--main-text-colour);
  font-family: Montserrat, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and(min-width:768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and(min-width:1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
