:root {
  --primary-text-colour: #fcfcfc;
  --tittle-text-colour: #131313;
  --button-text-colour: #000000;
  --accent-text-colour: #0a8817;
  --background-colour: #84a178;
  --background-item-colour: #f8d24e;
  --location-text-colour: #d6936d;
}
