<section class="components">
    <div class="container">
      <h2 class="visually-hidden">How made</h2>
      <ul class="howmade-list list">
        <li class="howmade-list__item">
          <div class="howmade-list__icon">
            <img class="howmade-list__icon--size" 
            src="/src/images/cow.png" alt="Icon cow"/>
        </div>
          <h3 class="howmade-list__titles">721</h3>
          <p class="howmade-list__text">
            Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
          </p>
        </li>

        <li class="howmade-list__item">
          <div class="howmade-list__icon">
            <img class="howmade-list__icon--size" 
            src="/src/images/weight.png" alt="Icon weight"/>
        </div>
          <h3 class="howmade-list__titles">16kg</h3>
          <p class="howmade-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="howmade-list__item">
          <div class="howmade-list__icon">
            <img class="howmade-list__icon--size" 
            src="/src/images/crema.png" alt="Icon crema"/>
        </div>
          <h3 class="howmade-list__titles">84</h3>
          <p class="howmade-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </section>