<section class="feedback overlay">
  <div class="container">
    <img
      srcset="./images/feedback-icecream.jpg 1x, ./images/feedback-icecream2x.jpg 2x"
      src="./images/feedback-icecream.jpg"
      alt="ice-cream"
      width="280"
      class="feedback__picture"
    />
    <div class="feedback__slider">
      <img
        srcset="./images/Emily.jpg 1x, ./images/Emily2x.jpg 2x"
        src="./images/Emily.jpg"
        alt="girl"
        width="85"
        class="feedback__person"
      />
      <p class="feedback__response">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="feedback__name">Emily, Los Angeles</p>
    </div>
  </div>
</section>