<section class="container footer">
	<div class="footer-wrapper">
	<div>
	<p class="footer__title">homemade ice cream made</p>
	<p class="footer__title footer__title--size">with passion</p>
	</div>
	<div class="footer-thumb">
		<div class="footer-social__wrapper">
			<ul class="footer-social__list">
				<li class="footer-social__item">
					<a class="footer-social__link" href="" target="_blank" rel="noreferrer noopener">
						<svg class="footer-social__icon" width="20" height="20">
							<use href="./images/symbol-defs.svg#icon-cat-2"></use>
						</svg>
					 </a>
				</li>
				<li class="footer-social__item">
					<a class="footer-social__link" href="" target="_blank" rel="noreferrer noopener">
						<svg class="footer-social__icon" width="20" height="15">
							<use href="./images/symbol-defs.svg#icon-telegram-2"></use>
						</svg>
					 </a>
				</li>
				<li class="footer-social__item">
					<a class="footer-social__link" href="" target="_blank" rel="noreferrer noopener">
						<svg class="footer-social__icon" width="10" height="20">
							<use href="./images/symbol-defs.svg#icon-facebook-2"></use>
						</svg>
					 </a>
				</li>
			</ul>
		</div>
		<div class="footer-contact__wrapper">
			<p class="footer-contact__text">Feel free to contact</p>
			<a class="footer-contact__tel" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
		</div>
	</div>
		
	</div>
	<p class="footer-copy"> <span>&copy 2022 - IceCream.</span> <span>All Rights Reserved.</span></p>
</section>
