<section class="cards">
  <div class="container">
    <div>
      <ul class="footer__cards">
        <li class="footer__card">
          <h3 class="footer__category">CAFE</h3>
          <ul>
            <li class="footer__card-items">
              <h4 class="footer__cardtitle footer__cardaddress">Chicago</h4>
              <a
                href="https://goo.gl/maps/Xke1ZyJeTYMigLHn7"
                target="_blank"
                rel="noopener noreferrer"
                class="footer__address-link"
                >10340 Ridgeland Ave,<br />
                Chicago Ridge, IL 60415, USA</a
              >
            </li>
            <li class="footer__card-items">
              <p class="footer__cardtitle footer__monfri">Monday - Friday</p>
              <p class="footer__time footer__sixten">06:00 AM - 10:00 PM</p>
              <p class="footer__cardtitle footer__satsun">Saturday - Sunday</p>
              <p class="footer__time footer__eightsix">08:00 AM - 16:00 PM</p>
            </li>
            <li class="footer__card-items">
              <a href="tel:+61(0)383766284" class="footer__meltel footer__tel"
                >+61(0) 383 766 284</a
              >
              <a
                href="mailto:noreply@envato.com"
                class="footer__meltel footer__mel"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="footer__card">
          <h3 class="footer__category footer__foodtruck">FOOD TRUCK</h3>
          <ul>
            <li class="footer__card-items">
              <h4 class="footer__cardtitle footer__cardaddress">Los Angeles</h4>
              <a
                href="https://goo.gl/maps/VqUYuy5FDkf4H3TQA"
                target="_blank"
                rel="noopener noreferrer"
                class="footer__address-link"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </li>
            <li class="footer__card-items">
              <p class="footer__cardtitle footer__monfri">Monday - Friday</p>
              <p class="footer__time footer__sixten">06:00 AM - 10:00 PM</p>
              <p class="footer__cardtitle footer__satsun">Saturday - Sunday</p>
              <p class="footer__time footer__eightsix">08:00 AM - 16:00 PM</p>
            </li>
            <li class="footer__card-items">
              <a href="tel:+61(0)383766284" class="footer__meltel footer__tel"
                >+61(0) 383 766 284</a
              >
              <a
                href="mailto:noreply@envato.com"
                class="footer__meltel footer__mel"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="footer__card">
          <h3 class="footer__category">CAFE</h3>
          <ul>
            <li class="footer__card-items">
              <h4 class="footer__cardtitle footer__cardaddress">New York</h4>
              <a
                href="https://goo.gl/maps/UbXjY8jhiAcaAGum9"
                target="_blank"
                rel="noopener noreferrer"
                class="footer__address-link"
                >726 Sterling Pl, Brooklyn, NY<br />
                11222, USA</a
              >
            </li>
            <li class="footer__card-items">
              <p class="footer__cardtitle footer__monfri">Monday - Friday</p>
              <p class="footer__time footer__sixten">06:00 AM - 10:00 PM</p>
              <p class="footer__cardtitle footer__satsun">Saturday - Sunday</p>
              <p class="footer__time footer__eightsix">08:00 AM - 16:00 PM</p>
            </li>
            <li class="footer__card-items">
              <a href="tel:+61(0)383766284" class="footer__meltel footer__tel"
                >+61(0) 383 766 284</a
              >
              <a
                href="mailto:noreply@envato.com"
                class="footer__meltel footer__mel"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer__button">
      <button
        data-modal-open="about-mod"
        type="button"
        class="footer__locations"
      >
        Our Locations >
      </button>
      <button
        data-modal-open="about-mo"
        type="button"
        class="franchise__button"
      >
        Franchise >
      </button>
    </div>

    <div class="footer-wrapper">
      <div>
        <p class="footer__title" id="h3d3">homemade ice cream made</p>
        <p class="footer__title footer__title--size">with passion</p>
      </div>
      <div class="footer-thumb">
        <div class="footer-social__wrapper">
          <ul class="footer-social__list">
            <li class="footer-social__item">
              <a
                class="footer-social__link"
                href=""
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-cat-2"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a
                class="footer-social__link"
                href=""
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-social__icon" width="20" height="15">
                  <use href="./images/symbol-defs.svg#icon-telegram-2"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a
                class="footer-social__link"
                href=""
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-social__icon" width="10" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook-2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contact__wrapper">
          <p class="footer-contact__text">Feel free to contact</p>
          <a class="footer-contact__tel" href="tel:+61 (0) 383 766 284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
    <p class="footer-copy">
      <span>&copy 2022 - IceCream.</span> <span>All Rights Reserved.</span>
    </p>

    <h2 class="visually-hidden">Contacts</h2>

    <div class="backdrop is-hidden" data-modal id="about-mo">
      <div class="modal__franchise">
        <button class="modal__btn" type="button" data-modal-close>
          <svg width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-modal-close"></use>
          </svg>
        </button>

        <form class="form" name="register-form">
          <strong class="form__title"
            >Thank you for your interest in owning an Ice Cream shop</strong
          >
          <p class="form__text">
            Due to the overwhelming volume of franchise requests we are not
            accepting new franchisee applications at this time. Once the
            application process resumes, we will contact you for further
            information. Please fill out the contact information below and we
            will reach out for additional information. We appreciate your
            patience.
          </p>

          <div class="form__group" role="group">
            <label class="form__field">
              <input
                class="form__input"
                type="text"
                name="user-name"
                required
                minlength="3"
                placeholder="Name"
              />
            </label>

            <label class="form__field">
              <input
                class="form__input"
                type="text"
                name="user-phone"
                required
                minlength="12"
                maxlength="12"
                placeholder="Phone"
              />
            </label>

            <label class="form__field">
              <input
                class="form__input"
                type="email"
                name="user-mail"
                required
                placeholder="Email"
              />
            </label>

            <label class="form__field">
              <input
                class="form__message"
                type="email"
                name="user-mail"
                required
                placeholder="Comment"
              />
            </label>
          </div>

          <button class="form__btn" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="backdrop is-hidden" data-modal id="about-mod">
      <div class="locations__modal">
        <button class="modal__btn" type="button" data-modal-close>
          <svg width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-modal-close"></use>
          </svg>
        </button>

        <strong class="locations__title">Our Locations</strong>

        <div class="locations__maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55878310901!2d34.48702656570876!3d49.6021344732009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2sPoltava%2C%20Poltavska%2C%2036000!5e0!3m2!1spt-PT!2sua!4v1672116221381!5m2!1spt-PT!2sua"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="locations__maps-iframe"
          ></iframe>
        </div>
        <a class="contacts__maps" href="https://goo.gl/maps/o1tNzHWq9VMVF8fd7"
          >Open map</a
        >
      </div>
    </div>
  </div>
</section>

<!-- <script src="/src/js/our-locations-modal.js"></script> -->
