<footer>
  <div class="container">
    <section class="cards">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="footer__cards">
        <li class="footer__card">
          <h3 class="footer__category">CAFE</h3>
          <ul>
            <li>
              <h4>Chicago</h4>
              <a
                href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
                target="_blank"
                rel="noopener noreferrer"
                class="footer__map-link"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </li>
            <li>
              <p>Monday - Friday</p>
              <p>06:00 AM - 10:00 PM</p>
              <p>Saturday - Sunday</p>
              <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+380961111111" class="footer__meltel">+38 096 111 11 11</a>
                <a href="mailto:info@devstudio.com" class="footer__meltel">info@devstudio.com</a>
            </li>
          </ul>
        </li>
        <li class="footer__card"></li>
        <li class="footer__card"></li>
      </ul>
    </section>
  </div>
</footer>
