<section class="container">
  <div class="mobile-menu">
    <button
      class="menu-button"
      type="button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
      aria-label="перемикач мобільного меню"
    >
      <svg class="icon-header" width="32" height="32">
        <use class="icon-burger" href="./images/burger.svg#icon-burger"></use>
        <use class="icon-close" href="./images/burger.svg#icon-close"></use>
      </svg>
    </button>
    <div class="menu-container" id="menu-container" data-menu>
      <ul class="menu">
        <li class="menu-nav">
          <a href="./index.html" class="navigation">Home</a>
        </li>
        <li class="menu-nav">
          <a href="./index.html" class="navigation">How it’s made?</a>
        </li>
        <li class="menu-nav">
          <a href="./index.html" class="navigation">Our products</a>
        </li>
        <li class="menu-nav">
          <a href="./index.html" class="navigation">Contact</a>
        </li>
      </ul>
      <button type="button" class="button-by">
        Buy now
        <svg width="12" height="12">
          <use class="logo-by" href="./images/burger.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<div class="modal-backgrop is-hidden" data-modal>
  <div class="modal">
    <h1 class="title">Buy now</h1>
    <ul>
      <li>
        <img
          srcset="
            ../src/images/img1_1x132.png 132w,
            ../src/images/img1_2x264.png 264w
          "
          alt="ice cream"
          width="132"
          height="139"
        />
        <div class="cream group"></div>
      </li>
      <li>
        <img
          srcset="
            ../src/images/img2_1x132.png 132w,
            ../src/images/img2_2x264.png 264w
          "
          alt="ice coffee"
          width="132"
          height="139"
        />
        <div class="coffee group"></div>
      </li>
      <li>
        <img
          srcset="
            ../src/images/img3_1x132.png 132w,
            ../src/images/img3_2x.png    264w
          "
          alt="milkshake"
          width="132"
          height="139"
        />
        <div class="milkshake group"></div>
      </li>
    </ul>
    <form>
      <div class="name">
        <input
          class="form-input"
          type="text"
          name="Name"
          id="username"
          placeholder="Name"
        />
      </div>
      <div class="phone">
        <input
          class="form-input"
          type="tel"
          name="Phone"
          id="Phone"
          placeholder="Phone"
        />
      </div>
      <div class="comment">
        <textarea
          class="form-input textarea"
          type="textarea"
          rows="5"
          name="textarea"
          id="textarea"
          placeholder="Comment"
        ></textarea>
      </div>
    </form>
  </div>
</div>
