<section class="container">
  <div class="mobile-menu">
      <button class="menu-button" type="button" aria-expanded="false" aria-controls="menu-container" data-menu-button
        aria-label="перемикач мобільного меню">
        <svg class="icon-header" width="32" height="32">
          <use class="icon-burger" href="./images/burger.svg#icon-burger"></use>
          <use class="icon-close" href="./images/burger.svg#icon-close"></use>
        </svg>
      </button>
    <div class="menu-container" id="menu-container" data-menu>
      <ul class="menu">
        <li class="menu-nav"><a href="./index.html" class="navigation">Home</a></li>
        <li class="menu-nav"><a href="./index.html" class="navigation">How it’s made?</a></li>
        <li class="menu-nav"><a href="./index.html" class="navigation">Our products</a></li>
        <li class="menu-nav"><a href="./index.html" class="navigation">Contact</a></li>
      </ul>
      <button type="button" class="button-by">Buy now
        <svg width="12" height="12">
          <use class="logo-by" href="./images/burger.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-backgrop is-hidden" data-modal>
<div class="modal">
<h1>Buy now</h1>
<ul>
  <li>
   <img srcset="./src/images/img1_1x132.png 132w,
                ./src/images/img1_2x264.png 264w"
  </li>
  <li></li>
  <li></li>
</ul>
</div>
  </div>
</section>
