<!DOCTYPE html>
<html lang="en">

<body>
    <section class="hero">
        <div class="container">
            <h1 class="hero-title">ice cream made with <span class="hero-title--bold">passion</span></h1>
            <button class="hero_button" type="button">Products</button>
            <a  class="hero_link" href="">How it’s made?</a>
            <img class="hero_image" src="./images/hero-ice-177.png" srcset="
            ./images/hero-ice-177.png     177w,
            ./images/hero-ice-177@2x.png  354w,
            ./images/hero-ice-268.png     268w,
            ./images/hero-ice-268@2x.png  536w,
            ./images/hero-ice-456.png     456w,
            ./images/hero-ice-456@2x.png  912w"
            sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 320px) 177px, 100vw"
            alt="Ice cream cones">
        </div>
    </section>
</body>

</html>