<section class="hero">
  <div class="container hero-container">
    <div class="hero-thumb">
      <h1 class="hero-title" id="h4d4">
        ice cream made with <span class="hero-title--bold">passion</span>
      </h1>
      <button class="hero_button" type="button" data-modal-open="about-modal">
        Products
      </button>
      <a class="hero_link" href="">How it’s made?</a>
      <div class="hero_content-thumb">
        <img
          class="hero_content-image"
          src="./images/hero/hero-ice-plate-152.png"
          srcset="
            ./images/hero/hero-ice-plate-152.png    152w,
            ./images/hero/hero-ice-plate-152@2x.png 304w,
            ./images/hero/hero-ice-plate-255.png    255w,
            ./images/hero/hero-ice-plate-255@2x.png 510w
          "
          sizes="(min-width: 1200px) 255px, (min-width: 768px) 152px, 100vw"
          alt="Ice cream plate"
        />
        <div>
          <p class="hero_content-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a href="/">
            <svg class="hero_content-arrow" width="40" height="16">
              <use href="./images/hero/hero-icons.svg#icon-hero-arrow "></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <img
      class="hero_image"
      src="./images/hero/hero-ice-177.png"
      srcset="
        ./images/hero/hero-ice-177.png    177w,
        ./images/hero/hero-ice-177@2x.png 354w,
        ./images/hero/hero-ice-268.png    268w,
        ./images/hero/hero-ice-268@2x.png 536w,
        ./images/hero/hero-ice-456.png    456w,
        ./images/hero/hero-ice-456@2x.png 912w
      "
      sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 320px) 177px, 100vw"
      alt="Ice cream cones"
    />
    <ul class="hero_location">
      <li class="hero_location-list">
        <strong class="hero_location-dozens">16</strong>
        <p class="hero_location-description">cafes</p>
      </li>
      <li class="hero_location-list">
        <strong class="hero_location-dozens">23</strong>
        <p class="hero_location-description">food trucks</p>
      </li>
    </ul>
  </div>
  <div class="backdrop is-hidden" data-modal id="about-modal">
    <div class="modal">
      <button class="modal__button-close" data-modal-close>
        <svg class="modal__close">
          <use href="/src/images/symbol-defs.svg#icon-modal-close"></use>
        </svg>
      </button>
      <form name="contact-centr" class="modal__form">
        <p class="modal__title">Chololate icecream</p>
        <div class="modal__walper">
          <div class="modal__img">
            <img
              class="modal__imeges-first"
              src="./images/Ellipse67mob1x.jpg"
              alt="icecream"
              width="132px"
              height="132px"
            />
          </div>
          <div class="moadal__img-back"></div>
        </div>

        <ul class="modal__card">
          <li class="list modal__li">
            <div class="modal__list">
              <p class="modal__list-text">320</p>
            </div>
            <div class="modal__list-rectangle">
              <p class="modal__list-text-other">kcal</p>
            </div>
          </li>
          <li class="list modal__li">
            <div class="modal__list">
              <p class="modal__list-text">4g</p>
            </div>
            <div class="modal__list-rectangle">
              <p class="modal__list-text-other">Protein...</p>
            </div>
          </li>
          <li class="list modal__li">
            <div class="modal__list">
              <p class="modal__list-text">8,2g</p>
            </div>
            <div class="modal__list-rectangle">
              <p class="modal__list-text-other">Fats</p>
            </div>
          </li>
          <li class="list">
            <div class="modal__list">
              <p class="modal__list-text">40,4g</p>
            </div>
            <div class="modal__list-rectangle">
              <p class="modal__list-text-other">Carbs</p>
            </div>
          </li>
        </ul>

        <p class="modal__title-card2">Ingredients</p>

        <div class="modal__card-set">
          <ul class="modal__ingredients">
            <li class="list modal__ingredients-list">Milk</li>
            <li class="list modal__ingredients-list">Belgian chocolate</li>
            <li class="list modal__ingredients-list">Cream</li>
            <li class="list modal__ingredients-list">Cocoa powder</li>
            <li class="list modal__ingredients-list">Sugar</li>
            <li
              class="list modal__ingredients-list modal__ingredients-list-last"
            >
              Vanilla sugar
            </li>
          </ul>
          <ul class="modal__weight">
            <li class="list modal__weight-list">100ml</li>
            <li class="list modal__weight-list">20g</li>
            <li class="list modal__weight-list">150 ml</li>
            <li class="list modal__weight-list">30g</li>
            <li class="list modal__weight-list">40g</li>
            <li class="list modal__weight-list modal__weight-list-last">10g</li>
          </ul>
        </div>

        <label for="user-name" class=""></label>
        <div class="">
          <input
            id="user-name"
            name="user-name"
            type="text"
            class="modal__input"
            placeholder="Name"
            autofocus
            required
          />
        </div>
        <label for="user-tel"></label>
        <div>
          <input
            id="user-tel"
            name="user-tel"
            type="tel"
            placeholder="Phone"
            class="modal__input"
            required
          />
        </div>
        <label for="textarea">
          <textarea
            id="textarea"
            name="user-coment"
            placeholder="Comment"
            class="modal__textarea"
          ></textarea>
        </label>
        <div class="modal__button-bottom">
          <button type="submit" class="modal__button-submit">Submit</button>
        </div>
      </form>
      <!-- </div>

    <script type="module" src="/src/js/hero.js"></script>
  </div> -->
    </div>
  </div>
</section>
