<!DOCTYPE html>
<html lang="en">

<body>
    <section class="hero">
        <div class="container hero-container">
            <div class="hero-thumb">
                <h1 class="hero-title">ice cream made with <span class="hero-title--bold">passion</span></h1>
                <button class="hero_button" type="button">Products</button>
                <a  class="hero_link" href="">How it’s made?</a>
                <div class="hero_content-thumb">
                    <img class="hero_content-image" src="./images/hero/hero-ice-plate-152.png" srcset="
                        ./images/hero/hero-ice-plate-152.png     152w,
                        ./images/hero/hero-ice-plate-152@2x.png  304w,
                        ./images/hero/hero-ice-plate-255.png     255w,
                        ./images/hero/hero-ice-plate-255@2x.png  510w"
                        sizes="(min-width: 1200px) 255px, (min-width: 768px) 152px, 100vw" alt="Ice cream plate">
                    <p class="hero_content-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
            </div>
            <img class="hero_image" src="./images/hero/hero-ice-177.png" srcset="
                            ./images/hero/hero-ice-177.png     177w,
                            ./images/hero/hero-ice-177@2x.png  354w,
                            ./images/hero/hero-ice-268.png     268w,
                            ./images/hero/hero-ice-268@2x.png  536w,
                            ./images/hero/hero-ice-456.png     456w,
                            ./images/hero/hero-ice-456@2x.png  912w"
                sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 320px) 177px, 100vw" alt="Ice cream cones">
            <ul class="hero_location">
                <li class="hero_location-list">
                    <strong class="hero_location-dozens">16</strong>
                    <p class="hero_location-description">cafes</p>
                </li>
                <li class="hero_location-list">
                    <strong class="hero_location-dozens">23</strong>
                    <p class="hero_location-description">food trucks</p>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>