<section class="products">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
          <li class="products__item products__item-green product">
            <div class="products__image-group">
              <div class="products__image-shadow products__image-shadow--green"></div>
              <img srcset="
                  ./images/ice_cream_200_x1.jpeg 200w,
                  ./images/ice_cream_302_x1.jpeg 302w,
                  ./images/ice_cream_200_x2.jpeg 400w,
                  ./images/ice_cream_302_x2.jpeg 604w,
                " sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, 100vw "
              src="./images/ice_cream_200_x1.jpeg" alt="ice-cream" loading="lazy" class="products__image"/>
            </div>
            <h3 class="product__name">ice cream</h3>
            <p class="product__description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
            <a href="" class="products__link">
              <svg class="product__icon" width="40" height="16">
                <use href="./images/products-arrow.svg#icon-arrow"></use>
            </svg>
            </a>
          </li>
          <li class="products__item products__item-yellow">
            <div class="products__image-group">
              <div class="products__image-shadow products__image-shadow--yellow"></div>
              <img srcset="
                  ./images/ice_coffee_200_x1.jpeg 200w,
                  ./images/ice_coffee_302_x1.jpeg 302w,
                  ./images/ice_coffee_200_x2.jpeg 400w,
                  ./images/ice_coffee_302_x2.jpeg 604w,
                " sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, 100vw "
              src="./images/ice_coffee_200_x1.jpeg" alt="ice-coffee" loading="lazy" class="products__image"/>
            </div>
            <h3 class="product__name">ice coffee</h3>
            <p class="product__description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
            </p>
            <a href="" class="products__link">
              <svg class="product__icon" width="40" height="16">
                <use href="./images/products-arrow.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="products__item products__item-orange">
            <div class="products__image-group">
              <div class="products__image-shadow products__image-shadow--orange"></div>
              <img srcset="
                  ./images/milkshakes_200_x1.jpeg 200w,
                  ./images/milkshakes_302_x1.jpeg 302w,
                  ./images/milkshakes_200_x2.jpeg 400w,
                  ./images/milkshakes_302_x2.jpeg 604w,
                " sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, 100vw "
              src="./images/milkshakes_200_x1.jpeg" alt="ice-cream" loading="lazy" class="products__image"/>
            </div>
            <h3 class="product__name">milkshakes</h3>
            <p class="product__description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
            </p>
            <a href="" class="products__link">
              <svg class="product__icon" width="40" height="16">
                <use href="./images/products-arrow.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
    </div>
</section>
