.products{
    padding: 60px 0;
    background-color: var(--primary-text-colour);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    text-align: center;
    min-width: 320px;

    background-image: url(../images/Backgroud_mobile.jpeg);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/Backgroud_mobilex2.jpeg);
        }

    @media screen and (min-width: 768px) {
        min-width: 768px;
        background-image: url(../images/Background_tablet.jpeg);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/Background_tabletx2.jpeg);
            }
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;
        margin: 0 auto;
        background-image: url(../images/Backgroud_desktop.jpeg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/Backgroud_desktopx2.jpeg);
        }
    }
}

.products__title{
    font-family: 'Seymour One';
    font-style: normal;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 148px;

    @media screen and (min-width: 768px){
        font-size: 34px;
        margin-bottom: 200px;
    }
    @media screen and (min-width: 1200px){
        font-size: 36px;
        margin-bottom: 303px;
    }
}

.products__subtitle{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media screen and (min-width: 768px){
        font-size: 22px;
    }
    @media screen and (min-width: 1200px){
        font-size: 30px;
    }
}

.products__list{
    @media screen and (min-width: 768px){
        gap: 16px;
        display: flex;
    }
    @media screen and (min-width: 1200px){
        gap: 29px;
    }
}

.products__item{
    border-radius: 24px;
    padding-top: 123px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    margin-bottom: 168px;
   
    
    width: 280px;
    height: 420px;

    @media screen and (min-width: 768px){
        width: 224px;
        height: 428px;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 108px;
        margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px){
        width: 370px;
        height: 536px;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 165px;
        margin-bottom: 0px;
    }

    &-green{
        background-color: var(--background-colour);
    }
    &-yellow{
        background-color: var(--background-item-colour);
    }
    &-orange{
        background-color: var(--location-text-colour);
    }
    &:last-child{
        margin-bottom: 0px;
    }
}

.products__image-group{
    
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0%;

    @media screen and (min-width: 768px){
        top: -5%;
    }

    @media screen and (min-width: 1200px){
        top: -5%;
        width: 302px;
        height: 302px;
    }
}

.products__image{
    border-radius: 50%;
    display: block;
    @media screen and (min-width: 1200px){
        width: 302px;
        height: 302px;
    }
}

.products__image-shadow{
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-top: 11px;
    
    box-shadow: 0px 5.4px 20.3px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px){
        margin-top: 12px;
    }

    @media screen and (min-width: 1200px){
        width: 302px;
        height: 302px;
        margin-top: 16px;
    }

    &--green{
        background-color: var(--background-colour);
    }
    &--yellow{
        background-color: var(--background-item-colour);
    }
    &--orange{
        background-color: var(--location-text-colour);
    }
}

.product__description{
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.04em;

    @media screen and (min-width: 1200px){
        font-size: 15px;
    }
}

.products__link{
    display: grid;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    margin-bottom: 16px;
    &:hover{
        cursor: pointer;
    }
    
    @media screen and (min-width: 1200px){
        margin-bottom: 60px;
    }
}

.product__name{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media screen and (min-width: 768px){
        font-size: 22px;
    }
    @media screen and (min-width: 1200px){
        font-size: 30px;
        margin-bottom: 66px;
    }
}


